@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@500&display=swap');

:root{
    --Preto-01:#16171E;
    --Preto-02:#1F212A;
    --Preto-03:#58585E;
    
    --Roxo-01:#662C7C;
    --Roxo-02:#9D63B5;
    --Roxo-03:#C869F0;

    --Azul-01:#2869E7;
    --Azul-02:#1790FF;
    --Azul-03:#5CB9F2;

    --Verde-01:#63BF60;
    --Verde-02:#36C490;
    --Verde-03:#36E7B4;

    --Amarelo-01:#E79702;
    --Amarelo-02:#ECD145;
    --Amarelo-03:#FDDB75;

    --Vermelho-01:#E34421;
    --Vermelho-02:#D93F31;
    --Vermelho-03:#F47B7B;

    --Font-h1:55px;
    --Font-h2:30px;
    --Font-h3:25px;
    --Font-h4:20px;
    --Font-p:16px;

    --water:#1790FF;
    --grass:#36C490;
    --fire:#D93F31;
    --electric:#ECD145;
    --flaying:#A890F0;
    --normal:#A7A678;
    --rock:#B8A038;
    --ground:#E0C068;
    --bug:#A8B820;
    --ice:#98D8D8;
    --psychic:#F85888;
    --dark:#705848;
    --ghost:#705898;
    --dragon:#7038F8;
    --fairy:#F0B6BC;
    --poison:var(--Roxo-02);
}

*{margin: 0px; padding: 0px; box-sizing: border-box; font-family: 'Inter', sans-serif; font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;}
*, button{
    border: 0;
    background: none;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--Preto-03); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

body{
    background-color: var(--Preto-01);
    color: white;
}
#container{
    display: flex;
    justify-content: center;
}

#box{
    width: min(1000px,100vw);
}