header{
    background-color: var(--Preto-01);
    position: fixed;
    top: 0;
    width: min(700px,100vw);
    height: 50px;
    padding: 30px 0px;
    display: flex;
    align-items: center;
}
main{
    margin-top: 60px;
}

/* Card */
.Card{
    width: 100%;
    padding: 10px;
}
    .Card-poke{
        display: flex;
        align-items: center;
        background-color: var(--Preto-02);
        border-radius: 20px;
        cursor: pointer;
    }

/* Img */
.card-poke-img{
    padding: 10px ;
}
    .card-poke-img > img{
        width: 80px;
        height: 80px;
        padding: 10px;
        background-color: var(--Preto-01);
        border-radius: 100% ;
    }

/* Txt */
.card-txt{
    color: white;
}
    .card-txt > h2{
    font-size: 20px;
    }

    .card-txt > p{
        font-size: 16px;
        text-align: left;
        color: var(--Preto-03);
    }

/* input */
header > div{
    padding: 10px;
}
    .div-input{
        width: 100%;
    }
        .div-input > input{
            width: 100%;
            padding: 5px;
            border: 3px solid var(--Preto-02);
            border-radius: 10px;
            color: rgb(214, 213, 213);
        }

/* Loading */
.loading{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    margin: 50px;
}
    .load{
        animation: is-rotatig 1s linear infinite;
        border:  10px solid var(--Preto-01) ;
        border-top-color: var(--Preto-02) ;
        border-radius: 50%;
        height: 150px;
        width: 150px;
    }

@keyframes is-rotatig {
    to {
        transform: rotate(360deg);
    }
}