header{
    background-color: var(--Preto-01);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
}
header div{
    width: min(600px,100%);
    padding: 10px;
}
.div-input{
    display: flex;
    justify-content: end;
}
.div-input input{
    width: 100%;
    color: white;
    border: 2px solid var(--Preto-02);
    border-radius: 10px;
    padding: 10px;
}
.btn-search{
    width: auto;
}


/* Corpo */
main{
    padding-top: 70px;
    display: flex;
    justify-content: center;
}
main div{
    width: min(1200px,100%);
}
h2{
    padding: 10px;
}

/* Card */
.Card{
    width: 100%;
    padding: 10px;
    cursor: pointer;
}
    .Card-poke{
        display: flex;
        background-color: var(--Preto-02);
        border-radius: 20px;
    }

/* Img */
.card-poke-img{
    width: auto;
    padding: 10px;
}

.card-poke-img img{
    width: 100px;
    background-color: var(--Preto-01);
    border-radius: 100%;
    padding: 5px;
}

/* Txt */
.card-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-txt p {
    font-size: 16px;
    color: var(--Preto-03);
}

/* Loading */
.loading{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
    .load{
        animation: is-rotatig 1s linear infinite;
        border:  10px solid var(--Preto-01) ;
        border-top-color: var(--Preto-02) ;
        border-radius: 50%;
        height: 150px;
        width: 150px;
    }

@keyframes is-rotatig {
    to {
        transform: rotate(360deg);
    }
}
@media only screen and (max-width: 700px){
    .div-input input{
        display: none;
    }
}
@media only screen and (min-width: 700px) {
    .List-Card{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
    }
    .Card-max1000 > div{
        height: 170px;
    }
    .Card-max1000 div > img{
        width: min(140px,100%);
        height:  min(140px,100%);
    }
    .Card-max1000 div > h3{
        font-size: 40px;
    }
    .Card-max1000 div > p{
        font-size: 25px;
    }
    .btn-search{
        display: none;
    }
}